[submodule "plugins"]
	path = plugins
	url = https://github.com/neovim/nvim-lspconfig
[submodule "plugins/nvim-lspconfig"]
	path = plugins/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "plugins/catppuccin"]
	path = plugins/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "plugins/nvim-cmp"]
	path = plugins/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "plugins/cmp-buffer"]
	path = plugins/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "plugins/cmp-nvim-lsp"]
	path = plugins/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "plugins/cmp-path"]
	path = plugins/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "plugins/nvim-treesitter"]
	path = plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "plugins/plenary.nvim"]
	path = plugins/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "plugins/telescope.nvim"]
	path = plugins/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "plugins/which-key.nvim"]
	path = plugins/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "plugins/lualine.nvim"]
	path = plugins/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "plugins/LuaSnip"]
	path = plugins/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "plugins/cmp_luasnip"]
	path = plugins/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "plugins/none-ls.nvim"]
	path = plugins/none-ls.nvim
	url = https://github.com/nvimtools/none-ls.nvim
[submodule "plugins/lsp-format.nvim"]
	path = plugins/lsp-format.nvim
	url = https://github.com/lukas-reineke/lsp-format.nvim.git
